feature-circuits/
mem.py
script/
cuda_visible_devices.txt
gemma-2b_res_neuropedia.pkl
gemma-9b_res_neuropedia.pkl
openai_key.txt
deepseek_api_key.txt
feature-circuits/
cache/
llm-attacks/
archive
images/
.vscode/
checkpoints/
results/
sparsify/
train_sae/
wandb/
transfer.py
notebooks/activation_examples.ipynb
notebooks/prefix_attack.ipynb
notebooks/reasoning.ipynb
code_doc.txt
refusal_direction/
dataset